/* * {
    border:solid 1px black;
}
*/
body {
    font-family:Montserrat;
    background-image: linear-gradient(#5CDB95,#1D438A);
    color: #00DBCD;
}

h1, h2, h3, h4, h5, h6{
    font-family:Oswald;
    text-align:center;
}
h1{
    font-size: 35pt;
}

header{
    text-align:center;
}

#hero, footer{
    color: #1D438A;
    border:10px solid #00DBCD;
    border-style: double;
    background-color: #9D70F0;
    text-align:center;
    padding: 5px;
}

#hero img{
    width: 250px;
}

#bio{
    text-align: center;
}

#hobbies{
    margin-left: 475px;
}

li{
    margin: auto 500px auto auto;
    list-style-type: none;
    border-bottom: 1px solid #00DBCD;
}

li:last-child{
    border: none;
}

li a:hover {
    font-size: 30px;
    background: #9D70F0;
  }

