/* * {
    border:solid 1px black;
}
*/
body {
    font-family:Montserrat;
    background-image: linear-gradient(#5CDB95,#1D438A);
    color: #00DBCD;
}

h1, h2, h3, h4, h5, h6{
    font-family:Oswald;
    text-align:center;
}
h1{
    font-size: 35pt;
}

header{
    text-align:center;
}

/* Hero*/
#hero, footer{
    color: #1D438A;
    border:10px double #00DBCD;
    background-image:radial-gradient(#9D70F0 65%, #00d1c3);
    text-align:center;
    padding: 5px;
}

#hero img{
    width: 250px;
}

/*Bio*/
#bio{
    text-align: center;
}

/*Hobbies*/
#hobbies{
    margin-left: 475px;
}

li{
    margin: auto 500px auto auto;
    list-style-type: none;
    border-bottom: 1px solid #00DBCD;
}

li:last-child{
    border: none;
}

/*Gallery*/
#gallery{
    color: #1D438A;
    border:10px double #00DBCD;
    background-image:radial-gradient(#9D70F0 65%, #00d1c3);
    margin: 10px;
}



#gallery img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 50%;
    max-width:100%;
    
}

#gallery figure{/* for some reason, this only affected the text,
     so I added code I found to center the images  */
    text-align:center;
}
/* not sure why this code isn't working, may revisit
#gallery figcaption{ 
    border:5px double #00DBCD;
    background-color: #9D70F0;
} */
